<div>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a data-bind="attr: { href: router.navigationModel()[0].hash }">Rzarty</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>

            <div class="right" data-bind="css: { active: router.isNavigating }">
                <i class="icon-spinner icon-2x icon-spin"></i>
            </div>

        </section>
    </nav>

    <div class="container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:true }"></div>
</div>